<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test page</title>
</head>
<body>
    <h1>Оставляйте комментарии и отзывы нашему сайту!</h1>
    <h1>
        <form action="http://127.0.0.1:8000/firstapp" method="post">{% csrf_token %}
        <p>{{form.email}}Емаил</p>
        <p>{{form.comment}}комментарии</p>
        <div>
            <button type="submit">Отправить отзыв</button>
        </div>
        </form>
    </h1>
    <h1><a href="http://127.0.0.1:8000/firstapp/test">Просмотр всех комменатриев</h1>
</body>
</html>
